body{
    background: #ddd;
}
.images{
    display: flex;
    transition: all 0.8s;   
  }
  .images > img{
    border-radius: 20px;
  }
  .window{
    width: 300px;
    overflow: hidden;
    padding-top: calc(10% + 50px);
 }
  .red{
    color: red;
    background: rgb(95, 89, 95);
    border-radius: 10px;
  }
  .center1, .center2{
    display: flex;
    justify-content: center;
    align-items: center;  
  }
  .center2{
    padding-top: 15px;
  }
span{
    padding:2px 2px;
}